app/config.php
app/database.php
app/cache/*
!app/cache/index.html
!app/cache/.htaccess

app/logs/*
!app/logs/index.html
!app/logs/.htaccess

app/config/config.php
app/config/database.php

storage/*
!storage/index.html
storage/files/*
!storage/files/index.html
storage/thumbs/*
!storage/thumbs/index.html