@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

p, a{
	font-weight: 300;
}

.hoverable:hover {
	transition: box-shadow .25s;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 0 0 0 rgba(0, 0, 0, 0);
}

.divider.with-margin {
	margin-bottom: 1rem;
}

.divider.space {
	height: 1rem;
	background: inherit;
}

abbr[title] {
	text-decoration: none;
}

h1.header {
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	color: #fffbfb;
	margin: 0;
	font-size: 3em;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;

}

p.header {
	position: relative;
	text-align: center;
	top: 37%;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: 200;


}

#breadcrumbs {
	margin-bottom: 1rem;
}

#breadcrumbs .nav-wrapper .col {
	padding: 0 .75rem;
}

.parallax-container {
	width: 100%;
	height: 350px;
}

.parallax img {
	filter: brightness(60%);
	-webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	-o-filter: brightness(60%);
	-ms-filter: brightness(60%);
}

#search {
	padding: 10px;
}

#search .row,
#info .row {
	margin-bottom: 0;
}

#info {
	padding: 4rem 0 1rem 0;
}

#info .card {
	text-align: center;
	margin-bottom: 2rem;
}

#info .card-content .divider {
	margin-bottom: 1rem;
}

#info .card-content i.material-icons {
	font-size: 2em;
	line-height: 1em;
	position: absolute;
	color: #009688;
	top: -25px;
	left: calc(50% - 30px);
	background-color: white;
	border-radius: 50%;
}

#denah .denah {
	padding-top: 1rem;
}

#denah .google-maps {
	height: 500px;
}

.tabs {
	margin-bottom: 1rem;
}

.tabs .tab a {
	color: #009688;
}

.tabs .tab a:hover,
.tabs .tab a.active {
	color: #009688;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
	color: #26a69a;
}

.tabs .indicator {
	background-color: #00897b;
}

blockquote.info {
	border-color: #00bcd4;
	background-color: #ebfdff;
	padding-top: .1rem;
	padding-bottom: .1rem;
}

blockquote.info p {
	padding: .5rem 0;
}

blockquote.info i.material-icons {
	padding-right: .3rem;
}



/* nav */
.brand-logo {
	font-size: 36px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

/*
 card */
.card {
	border-radius: 15px;
}

.card-logo h1{
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.card .card-content {
    padding: 40px;
    border-radius: 0 0 2px 2px;
	margin: 25px 10px;
}


/* Galerry */
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	gap: 20px;
	margin: 9px 94px;
	cursor: pointer;
}

.gallery h2 {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.gallery img {
	transition: 0.4s ease;
}

.gallery img:hover {
	transform: scale(1.08);
}

/* hero */


.parallax-container {
	width: 100%;
	height: 500px;
}

.ad {
	margin: 0 245px;
	top: 449px;
	position: absolute;
}

.bt {
	margin-top: 100px;
}

.footer{
	margin: 0 50px;
}

.parallax{
	background-image: url("../img/hero.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.run{
	background-color: rgba(209, 90, 90, 0.514);
	position: fixed;
	z-index: 999;
	color: white;
}